<link rel="stylesheet" type="text/css" href="/stylesheets/doctor.css"/>

<div class="p-3 mb-2 bg-success text-white">
  <form>
    <h2 class="fdfd">Doctors</h2>
    <div action="/doctors" method="GET" class="form-inline">
      <div class="form-inline">
        <a href="/doctors/create" class="btn alert-info">Add</a>
        <input type="text" name="search" placeholder="Search doctors ..." class="btn alert-info" id="search-input">
        <input type="submit" value="Search" class="btn alert-info" id="btn-input">
      </div>
    </div>
    <div class="btn-group" id="checkbox-div" role="group" aria-label="Basic checkbox toggle button group" >
      <input type="checkbox" name="select" value="name" class="btn-check" id="btncheck1" autocomplete="off">
      <label class="btn btn-outline-primary" id="checkbox-label" for="btncheck1">Name</label>

      <input type="checkbox" name="select" value="city" class="btn-check"  id="btncheck2" autocomplete="off">
      <label class="btn btn-outline-primary" id="checkbox-label" for="btncheck2">City</label>
    </div>
    <table class="table table-primary table-hover" id="table">      
      <thead class="titles">
        <tr>
          <th scope="col">License No.</th>
          <th scope="col">Name</th>
          <th scope="col">Specialization</th>
          <th scope="col">City</th>
          <th scope="col" class="th">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% doctors.forEach(doctor => { %>
          <tr>
            <th scope="row"><%= doctor.licence_number %></th>
            <td><%= doctor.full_name %></td>
            <td><%= doctor.specialization %></td>
            <td><%= doctor.city %></td>
            <td class="th">
              <a href="/doctors/<%= doctor._id %>" class="btn btn-warning">Edit</a>
              <button type="button" onclick="deleteDoctor(`<%= doctor._id %>`)" class="btn btn-danger">Delete</button>
              <a href="/doctors/<%= doctor._id %>/patients" class="btn btn-warning">Patients</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </form>
</div>